.group {
  height: 38px;
  // max-width: fit-content;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #f3f4f6;
  border-radius: 6px;
  padding: 1px;

  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.input:checked + .label {
  background: #ffffff;
  border: 1px solid #e2e3e5;
  height: 20px;
  border-radius: 5px;
  transition: all 0.1s ease;
  stroke: #5d5fef;
}

.input[type='radio'] {
  display: none;
}

.label {
  text-transform: capitalize;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  user-select: none;
  stroke: #4d5562;
}

.icon {
  margin-right: 16px;
}
