.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 243px;
  height: 448px;

  &_drop {
    align-items: center;
    border: 2px dashed #c4c4c4;
    border-radius: 6px;
  }
}

.wrapper {
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
}

.title {
  color: #5d5fef;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6b7280;
}

.item {
  width: 240px;
  background: #ffffff;
  padding: 4px;
  max-width: fit-content;
  margin-bottom: 12px;
  &_enter {
    border-bottom: 1px solid #5d5fef;
  }
}
